main {
    width: 50%;
    height: 100vh;
    justify-self: center;
    align-content: center;
}

form {
    background-color: aliceblue;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.action-container {
    display: flex;
    justify-content: space-between;
}

li {
    border-bottom: 1px solid;
}

#todo-list {
    height: 200px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
}
